---
Checks: >
  -*,
  google-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -modernize-use-designated-initializers,
  -google-readability-todo

CheckOptions:
  - key:             HeaderFilterRegex
    value:           '.*'
  - key:             modernize-use-using.IgnoreMacros
    value:           'true'
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ConstantCase
    value:           lower_case
  - key:             readability-identifier-naming.ConstantIgnoredRegexp
    value:           '(^k[A-Z].*)|(^[A-Z][A-Za-z0-9]*$)'
  - key:             readability-function-cognitive-complexity.Threshold
    value:           '30'
---
